* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
section {
  width: 85%;
  margin: 0 auto;
}
.main-container {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  height: 620px;
}
.img-container {
  width: 48%;
  position: relative;
}
.slider-img {
  position: absolute;
  width: 95%;
  height: 510px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
}
.slider-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#sofa-1,
#sofa-2,
#sofa-3,
#sofa-4,
#sofa-5 {
  display: none;
}
.pre,
.next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  cursor: pointer;
}
.pre {
  left: 15px;
}
.next {
  right: 15px;
}
.slider-img {
  z-index: -1;
}
#sofa-1:checked ~ #one,
#sofa-2:checked ~ #two,
#sofa-3:checked ~ #three,
#sofa-4:checked ~ #four,
#sofa-5:checked ~ #five {
  z-index: 9;
}
.img-nav {
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 88px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 18px;
  z-index: 99;
}
.img-box {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details-container {
  width: 52%;
}
.info-box {
  width: 80%;
  margin: 2rem auto;
  position: relative;
}
.info-box h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #3a3a3a;
  font-family: "DM Serif Display", serif;
}
.info-box h6 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin-bottom: 1.8rem;
  color: #515050;
}
.info-box p {
  font-size: 1.1rem;
  line-height: 1.6rem;
  width: 450px;
  color: #6a6a6a;
}
.fa-star {
  font-size: 1.5rem;
  color: #00d19b;
  margin: 1.2rem 0;
}
span {
  color: #00d19b;
}
.info-box h5 {
  color: #6a6a6a;
  font-size: 1.2rem;
  margin-bottom: 1.2rem;
}
.info-box a {
  color: #6a6a6a;
}
.info-box h1 {
  font-size: 2.5rem;
  margin-bottom: 1.8rem;
  color: #3a3a3a;
}
.other-tag {
  margin-left: 10px;
}
.dispatch-text {
  display: flex;
  align-items: center;
}
.btn-1,
.btn-2 {
  padding: 15px 0;
  width: 250px;
  border: 1px solid #1e1e1e;
  font-size: 1.1rem;
  margin-right: 10px;
  margin-top: 10px;
}
.btn-1 {
  background: #1e1e1e;
  color: #fff;
}
.service-container {
  display: flex;
  justify-content: space-between;
  width: 83%;
  margin: 6rem auto;
}
.service-box {
  width: 300px;
  display: flex;
}
.fa-credit-card,
.fa-truck,
.fa-box {
  font-size: 30px;
  color: #727070;
  margin-right: 15px;
}
.service-content h3 {
  color: #727070;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  padding: 0;
}
.service-para {
  font-size: 1rem;
  color: #6a6a6a;
  letter-spacing: 2px;
  line-height: 1.8rem;
}

@media (max-width: 598px) {
  .main-container {
    display: flex;
    flex-direction: column;
    height: 1200px;
  }
  .img-container {
    width: 100%;
    height: 400px;
  }
  .slider-img {
    width: 100%;
    height: 300px;
  }
  .img-nav {
    width: 100%;
    height: 60px;
    grid-column-gap: 10px;
    bottom: 0;
  }
  .details-container {
    width: 100%;
  }
  .info-box {
    width: 100%;
  }
  .info-box p {
    width: 16rem;
    text-align: justify;
  }
  .btn-1,
  .btn-2 {
    text-align: center;
    width: 100%;
  }
  .service-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 1rem auto;
  }
  .service-box {
    margin-bottom: 2.5rem;
  }
}
